/* global css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat' , sans-serif;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  margin-bottom: 5rem;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
  display: block;
}
:root{
  --primary: #eb1ccc;
  --secondary: #95989a;
  --text-color: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}